# npm
node_modules
package-lock.json

#edit tool
.idea

# ignore additional files using core.excludesFile
# https://git-scm.com/docs/gitignore

#environment dependent
.env
config/constants.js
config/production.json
config/default.json


level-img
client/build
client/.eslintcache
data/img/capos